<div class="row">
    <div class="col-md-4">
        <select class="form-control" data-ng-model="searchTerm.thema" data-ng-options="folder.thema as folder.thema for folder in codes = (folders | unique:'thema')">
            <option value="">-- Alle Thema's --</option>
        </select>
    </div>
    <div class="col-md-4">

        <select class="form-control" data-ng-model="searchTerm.status" data-ng-options="folder.status as folder.status for folder in statussen = (folders | unique:'status')">
            <option value="">-- Alle Statussen --</option>
        </select>
    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="row marketing">
    <table ng-table class="table table-hover table-striped ng-table-responsive">
        <tr ng-repeat="folder in folders | filter:searchTerm:allowNullValue">
            <td data-title="'Code'">{{folder.code}}</td>
            <td data-title="'Nummer'">{{folder.nummer}}</td>
            <td data-title="'Folder'"><a href="#/folders/{{folder.id}}">{{folder.code + "&nbsp" + folder.jaar + "&nbsp" + folder.nummer}}</a>
            </td>
            <td data-title="'Thema'">{{folder.thema}}</td>
            <td data-title="'Status'">
                <span data-ng-class="showStatus(folder.status)">{{folder.status}}</span>
            </td>
            <td data-title="'Begin'">{{folder.begin | date : format}}</td>
            <td data-title="'Eind'">{{folder.eind | date : format}}</td>
        </tr>
    </table>
</div>
